<nav class="pagination">
  <div class="pages">
    <div class="back">
      <button>&laquo;</button>
    </div>
    <div class="goToPage">
      <button class="template"></button>
    </div>
    <div class="forward">
      <span class="template">1</span>
      <button>&raquo;</button>
    </div>
  </div>
  <div class="quantity">
    <p>Число постов на странице</p>
    <div class="dropdown-container">
      <button class="dropdown-button">5</button>
      <ul class="container container--shadow dropdown-menu">
        <li>5</li>
        <li>10</li>
        <li>15</li>
        <li>20</li>
        <li>25</li>
      </ul>
    </div>
  </div>
</nav>