<div class="container container--shadow container-login container-registration">
    <h1>Регистрация</h1>
    <form>
        <div>
            <p>ФИО</p>
            <input type="text" name="fullName" placeholder="Иванов Иван Иванович">
        </div>
        <div>
            <p>Дата рождения</p>
            <input type="date" name="birthDate" placeholder="дд.мм.гггг">
        </div>
        <div>
            <p>Пол</p>
            <div class="dropdown-menu-container">
                <button class="dropdown-button">Мужчина</button>
                <ul class="container container--shadow dropdown-menu">
                    <li>Мужчина</li>
                    <li>Женщина</li>
                </ul>
            </div>
        </div>
        <div>
            <p>Телефон</p>
            <input type="text" name="phoneNumber" placeholder="+7 (xxx) xxx-xx-xx">
        </div>
        <div>
            <p>Email</p>
            <input type="email" placeholder="name@example.com">
            <p class="hint">Email будет использоваться для входа в систему</p>
        </div>
        <div>
            <p>Password</p>
            <input type="password">
        </div>
        <button type="submit">Зарегистрироваться</button>
    </form>
</div>