<div class="container container--shadow container-auth">
    <h1>Вход</h1>
    <form>
        <div>
            <p>Email</p>
            <input
                    type="email"
                    placeholder="name@example.com"
                    pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$"
                    title="Введите корректный email"
                    required
            >
        </div>
        <div>
            <p>Пароль</p>
            <input
                    type="password"
                    pattern="(?=.*\d)[A-Za-z\d]{6,}"
                    title="Пароль должен быть не менее 6 символов и содержать хотя бы одну цифру"
                    required
            >
        </div>
        <button type="submit">Войти</button>
    </form>
    <a href="/registration">Зарегистрироваться</a>
</div>