<div class="container container--shadow container-profile">
    <form>
        <div>
            <span>Email</span>
            <input type="email">
        </div>
        <div>
            <span>ФИО</span>
            <input type="text" name="fullName">
        </div>
        <div>
            <span>Номер телефона</span>
            <input type="text" name="phoneNumber">
        </div>
        <div>
            <span>Пол</span>
            <div class="dropdown-container">
                <button class="dropdown-button">Мужчина</button>
                <ul class="container container--shadow dropdown-menu">
                    <li>Мужчина</li>
                    <li>Женщина</li>
                </ul>
            </div>
        </div>
        <div>
            <span>Дата рождения</span>
            <input type="date" name="birthDate">
        </div>
        <button type="submit">Сохранить</button>
    </form>
</div>