.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: #E5E8E9 1px solid;
    border-radius: 5px;
    text-align: left;
    padding: 1%;
}

.container--shadow {
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1);
}