.communities {
    width: 70%;
}

.communities .community {
    display: flex;
    flex-direction: row;
    padding: 1%;
    width: 100%;
    background-color: #F8F9FA;
    font-size: 0.7vw;
}

.communities .community .community-name {
    align-self: center;
    margin-left: 1%;
    font-size: 1.5vw;
    font-weight: bold;
    color: black;
}

.communities .community button {
    margin-left: auto;
    padding: 1%;
    font-size: 0.7vw;
    color: white;
}