.communities {
    width: 70%;
}

.communities .community {
    display: flex;
    flex-direction: row;
    padding: 1%;
    background-color: #F8F9FA;
    font-size: 0.7vw;
}

.communities .community h1 {
    align-self: center;
    margin-left: 1%;
}

.communities .community button {
    margin-left: auto;
    padding: 1%;
    font-size: 0.7vw;
    color: white;
}

.communities .community .subscribe {
    background-color: #0D6EFD;
}

.communities .community .unsubscribe {
    background-color: #DC3545;
}