.comments-block {
    padding: 1%;
    font-size: 0.7vw;
}

.comments-block .comments {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
}

.comments .comment .date {
    text-wrap: nowrap;
}

.comments-block .comments .comment {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    align-self: flex-start;
    width: 100%;
    font-size: 0.6vw;
}

.comments-block .comments .comment .row {
    display: flex;
    gap: 0.3em;
}

.comments-block .comments .comment .text {
    font-size: 0.7vw;
}

.comments-block .comments .comment .modified {
    position: relative;
    font-size: 0.6vw;
    color: rgb(60, 60, 60);
    align-self: flex-end;
    cursor: default;
}

.comments-block .comments .comment .modified:hover::after {
    content: attr(data-modified-date);
    position: absolute;
    left: 110%;
    text-wrap: nowrap;
    font-size: 0.6vw;
}

.comments-block .comments .comment button {
    font-size: 0.6vw;
    color: #0D6EFD;
    align-self: flex-start;
}

.comments-block .comments .comment .replies {
    display: flex;
    flex-direction: column;
    margin-left: 0.3em;
    padding: 1em;
    border-left: 3px solid #99CCFF;
    gap: 1em;
}

.comments-block .comments .comment .replies .reply {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
}

.comments-block .comments .comment .replies .reply .deleted {
    position: relative;
    cursor: default;
    text-wrap: nowrap;
}

.comments-block .comments .comment .replies .reply .deleted:hover::after {
    content: attr(data-delete-date);
    position: absolute;
    left: 110%;
    text-wrap: nowrap;
    font-size: 0.6vw;
}

.comments-block .comments .icon svg {
    width: 0.7vw;
    height: 0.7vw;
}

.comments-block .comments .edit svg {
    fill: #FFC107;
}

.comments-block .comments .delete svg {
    fill: #DC3545;
}

.comments-block .comments .edit-comment {
    width: 100%;
}

.comments-block .comments form input {
    padding: 0.7em;
    width: 85%;
    font-size: 0.7vw;
}

.comments-block .comments form button {
    padding: 0.7em;
    border: #E5E8E9 1px solid;
    border-radius: 5px;
    font-size: 0.7vw;
    margin-left: auto;
}

.comments-block .comments .edit-comment form button {
    background-color: #FFC107;
    color: black;
    font-size: 0.7vw;
}

.comments-block .comments .write-reply {
    width: 100%;
}

.comments-block .comments .write-reply form button {
    background-color: #0D6EFD;
    color: white;
    font-size: 0.7vw;
}