.main-page {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 20px;
}

.main-page > a {
    align-self: flex-end;
    margin-right: 1%;
    padding: 0.7em;
    border: #E5E8E9 1px solid;
    border-radius: 5px;
    background-color: #0D6EFD;
    font-size: 0.7vw;
    color: white;
}