.main-page {
    display: flex;
    align-self: stretch;
    flex-direction: column;
    width: 70%;
    gap: 1em;
}

.main-page > .write-post-link {
    align-self: flex-end;
    margin-right: 1em;
}

.main-page .posts-filtration form {
    flex-direction: row;
}

.main-page .posts-filtration input[name="authorName"] {
    width: 100%;
}

.main-page .posts-filtration .dropdown-container {
    margin-top: auto;
    width: 95%;
}

.main-page .posts-filtration .left-part {
    display: flex;
    flex-direction: column;
}

.main-page .posts-filtration .inline-input {
    display: inline-flex;
    margin-top: auto;
    width: 100%;
}

.main-page .posts-filtration .right-part .inline-input {
    margin-top: 2%;
    gap: 4%;
}

.main-page .posts-filtration .checkbox-block {
    display: flex;
    margin-top: 3%;
}

.main-page .posts-filtration input[type="checkbox"] {
    margin-right: 0.7em;
    width: 1em;
    height: 1em;
}