.posts {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1em;
    word-break: break-all;
}

.post .content {
    padding: 1%;
}

.post .content {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    font-size: 0.7vw;
    color: rgb(60, 60, 60);
}

.post .content a {
    display: flex;
    align-self: start;
    font-size: 1.4vw;
    font-weight: bold;
    color: black;
}

.post .content .read-full {
    margin-top: 0.7em;
    font-size: 0.7vw;
    color: #0D6EFD;
}

.post .content img {
    align-self: center;
    max-width: 50vw;
    max-height: 50vh;
}

.post .comments-quantity {
    display: flex;
    gap: 0.3em;
}

.post .like {
    display: flex;
    margin-left: auto;
    gap: 0.3em;
}

.post .like .liked {
    fill: #DC3545;
    stroke: none;
}

.post .icon {
    display: flex;
    width: 0.7vw;
    height: 0.7vw;
}

.post .like svg {
    fill: none;
    stroke: black;
    stroke-width: 2;
}

.post .tags {
    color: rgb(120, 120, 120);
}